body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  background-color: #EFBD9B;
}

#main {
  /*top: -315vh;*/
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  /*background-color: #ccc;*/
  z-index: 2;
}

p {
  line-height: 24px;
  margin-bottom: 20px;
}

#main-card {
    width: 70%;
    max-width: 45rem;
    margin: 4rem auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 30px;
    color: #fff;
}

a, a:hover, a:visited, a:active {
  color: #D60068;
  text-decoration: none;
  font-weight: bold;
  transition: color 6s ease-in-out;
}

a:hover {
  /*color: #9c004c;*/
  text-decoration: underline;
}

#icons {
    margin-top: 30px;
}

#icons a {
  font-size: 40px;
}

#icons i {
  transition: scale 1.5s ease-in-out;
}

#icons i:hover {
  transform: scale(1.1);
}

i {
  margin-right: 20px;
}

#email-container #email {
  display: none;
  vertical-align: super;
  font-weight: bold;
}

#email-container:hover #email {
  display: inline-block;
}

.shape {
  position: relative;
  z-index: 1;
}

#one {
  height: 100vh;
  /*background-image: linear-gradient(#9DA9C5, #D9D7DF);*/
  /*background-image: linear-gradient(#367A8F, #8D908A);*/
  background-image: linear-gradient(#367A8F, #8D908A);
  clip-path: polygon(0 0, 8% 4%, 12% 8%, 12% 8%, 17% 6%, 25% 8%, 33% 18%, 45% 5%, 50% 3%, 58% 9%, 72% 5%, 85% 7%, 95% 8%, 100% 3%, 100% 100%, 0 100%);
}

#two {
  height: 90vh;
  top: -90vh;
  /*background-image: linear-gradient(#6780B1, #8398C2);*/
  /*background-image: linear-gradient(#307088, #497782);*/
  background-image: linear-gradient(#307088, #497782);
  clip-path: polygon(0 9%, 8% 7%, 12% 8%, 15% 5%, 17% 3%, 20% 0%, 33% 14%, 45% 20%, 55% 7%, 57% 5%, 68% 13%, 72% 10%, 78% 0%, 95% 15%, 100% 15%, 100% 100%, 0 100%);
}

#three {
  height: 75vh;
  top: -165vh;
  /*background-image: linear-gradient(#5973AA, #7B8FC1);*/
  /*background-image: linear-gradient(#275D7F, #1F4D6F);*/
  background-image: linear-gradient(#275D7F, #1F4D6F);
  clip-path: polygon(0 0%, 4% 0%, 12% 5%, 17% 12%, 25% 17%, 30% 28%, 40% 32%, 50% 13%, 58% 12%, 68% 8%, 72% 10%, 75% 14%, 80% 12%, 87% 4%, 93% 0%, 100% 5%, 100% 100%, 0 100%);
}

#four {
  height: 60vh;
  top: -225vh;
  /*background-image: linear-gradient(#364B86, #849CC6);*/
  /*background-image: linear-gradient(#28627E, #1F4F76);*/
  background-image: linear-gradient(#28627E, #1F4F76);
  clip-path: polygon(0 0, 8% 10%, 12% 15%, 17% 12%, 25% 5%, 33% 8%, 42% 2%, 57% 15%, 68% 17%, 72% 25%, 85% 20%, 95% 13%, 100% 25%, 100% 100%, 0 100%);
}

#five {
  height: 45vh;
  top: -270vh;
  /*background-image: linear-gradient(#384C85, #5772AA);*/
  /*background-image: linear-gradient(#0F3062, #12366A);*/
  background-image: linear-gradient(#0F3062, #12366A);
  clip-path: polygon(0 20%, 5% 15%, 9% 17%, 17% 12%, 25% 15%, 33% 8%, 38% 0%, 50% 5%, 58% 17%, 72% 30%, 85% 33%, 95% 43%, 100% 45%, 100% 100%, 0 100%);
}

#six {
  height: 30vh;
  top: -300vh;
  /*background-image: linear-gradient(#334C81, #4C679F);*/
  /*background-image: linear-gradient(#041846, #031543);*/
  background-image: linear-gradient(#041846, #031543);
  clip-path: polygon(0 0, 8% 10%, 12% 5%, 17% 32%, 25% 25%, 33% 38%, 45% 48%, 55% 45%, 57% 56%, 68% 67%, 72% 65%, 85% 70%, 95% 73%, 100% 75%, 100% 100%, 0 100%);
}

#seven {
  height: 15vh;
  top: -315vh;
  /*background-image: linear-gradient(#121F43, #283857);*/
  /*background-image: linear-gradient(#000424, #010221);*/
  background-image: linear-gradient(#000424, #010221);
  clip-path: polygon(0 80%, 5% 70%, 9% 65%, 17% 60%, 25% 67%, 30% 50%, 35% 45%, 50% 48%, 58% 32%, 72% 24%, 75% 13%, 85% 27%, 95% 0, 100% 5%, 100% 100%, 0 100%);
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  #icons a {
    font-size: 25px;
  }
}
