body {
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

p {
    line-height: 24px;
    margin-bottom: 20px;
}

#main-card {
    width: 70%;
    max-width: 45rem;
    margin: 4rem auto;
}

a, a:hover, a:visited, a:active {
  color: #D60068;
  text-decoration: none;
  font-weight: bold;
  transition: color 6s ease-in-out;
}

a:hover {
  /*color: #9c004c;*/
  text-decoration: underline;
}

#icons {
    margin-top: 30px;
}

#icons a {
  font-size: 40px;
}

#icons i {
  transition: scale 1.5s ease-in-out;
}

#icons i:hover {
  transform: scale(1.1);
}

i {
  margin-right: 20px;
}

#email-container #email {
  display: none;
  vertical-align: super;
  font-weight: bold;
}

#email-container:hover #email {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  #icons a {
    font-size: 25px;
  }
}
